---
import {CardReact} from "../components/card/CardReact";
import CardVue from "../components/card/CardVue.vue";
import CardSvelte from "../components/card/CardSvelte.svelte";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Astro</title>
</head>
<body>
<h1>Astro</h1>
<div class="box">
    <CardReact client:only="react"/>
    <CardVue client:only="vue"/>
    <CardSvelte client:only="svelte"/>
</div>
<style>
    .box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
</style>
</body>
</html>
